body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Michroma';
    font-size: 16px;
    background-color: white;
    /* background-color: #E10600; */

}


/* header starts here */



header {

    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FC4C02;

}

.container {

    width: 1280px;
    margin: auto;

}

.nav_checkbox {

    display: grid;
    grid-template-columns: 90px 200px 2fr;
    grid-template-rows: 60px;
    align-items: center;
    padding: 0px 0px;

}

.logo {

    text-decoration: none;
    color: white;
    padding-left: 10px;

}

.stravaicon {
    padding: 0px 0px 0px 0px;
}


.tab-nav {

    outline: none;
    display: none;

}

.label {

    display: none;
    color: white;

}

.burger {

    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;

}

.content_nav {

    grid-column: 4;
    list-style: none;
    margin: 0;
    padding: 0;


}

.content_nav li {

    display: inline-block;
    padding-right: 15px;

}

.content_nav li a {

    text-decoration: none;
    color: white;
    position: relative;

}

.content_nav li a::after {

    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after {

    transform: scale(1, 1);

}



@media screen and (max-width: 1280px) {

    .container {

        width: 100%;

    }

}


@media screen and (max-width: 900px) {

    body {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Michroma';
        font-size: 14px;
        background-color: #FFFFFF;
    }

    .container {

        width: 100%;

    }


}

@media screen and (max-width: 600px) {

    .label {

        display: grid;
        cursor: pointer;
        grid-column: 4;
        padding-right: 10px;

    }

    .content_nav {

        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;

    }

    .nav_checkbox input:checked~.content_nav {

        max-height: 500px;

    }

    .content_nav li {

        padding: 15px 0px;

    }

}

/* Header ends here */



















/* Main Area Layout */




.content_section {
    width: 80%;
    background-color: white;
    margin: auto;

}


.container2 {

    width: 100%;

    /* margin: 0px; */
    height: 100vh;
    border: skyblue 0px solid;
    display: grid;
    grid-template-areas:
        'myArea1 myArea1 myArea2 myArea2'
        'myArea3 myArea3 myArea4 myArea4'
        'myArea5 myArea5 myArea5 myArea5';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 220px 185px 100px;
}







/* All Sections on Main area */




.item {

    color: #110606;
    padding: 0px;
    border: skyblue 0px solid;
    display: flex;
    /* up and down */
    /* justify-content: center; */
    /* left and right */
    /* align-items: center; */
}


.header-text {
    justify-content: center;

    text-align: left;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    font-weight: 900;
}




.main-text {
    justify-content: center;
    text-align: left;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0x;
    font-size: 14px;
    font-weight: 700;
}

.small-text {
    font-size: 12px;
    font-weight: 200;
    padding: 0px 0px 0px 0px;
    border: 0px solid #3a921c;
    margin: 0px 0px 0px 0px;
}






/* Specifically area1 */
.topleft {
    grid-area: myArea1;
    flex-direction: column;
    justify-content: start;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 240px;
    border: 0px solid #3a921c;
}



.headertext {

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px solid #3a921c;

}

.topleft-maintext {
    justify-content: center;
    text-align: left;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 0x;
    font-size: 14px;
    font-weight: 700;
}

.stravalogo {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    border: 0px solid #3a921c;
}








.topright {
    grid-area: myArea2;
    flex-direction: column;
    justify-content: start;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
    border: 0px solid #3a921c;
}


.topright-maintext {
    justify-content: center;
    text-align: left;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 30px;
    font-size: 14px;
    font-weight: 700;
}


.accuweatherlogo {
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    border: 0px solid #3a921c;

}

.details-text {
    font-size: 12px;
    font-weight: 200;
    padding: 0px 0px 0px 0px;
    border: 0px solid #3a921c;
    margin: 0px 0px 0px 20px;

}

.degrees {
    font-size: 12px;
    font-weight: 200;
    vertical-align: text-top;
    border: 0px solid #3a921c;

}

.conditions {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 14px;
    border: 0px solid #3a921c;
}


.weathericon {
    border: 0px solid #3a921c;
    margin: 0px 0px 0px 25px;


}






.middleleft {
    grid-area: myArea3;
    flex-direction: column;
    
    justify-content: start;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 240px;
    border: 0px solid #3a921c;
}


.middleleftheadertext {

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px solid #3a921c;

}


.middleleft-maintext {
    justify-content: center;
    text-align: left;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: 700;
}











.middleright {
    grid-area: myArea4;
    flex-direction: column;
    
    justify-content: center;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;

}
    
    
    .middlerightheadertext {
    
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border: 0px solid #3a921c;
    
    }
    
    
    .middleright-maintext {
        justify-content: center;
        text-align: left;
        border: 0px solid #3a921c;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 30px;
        font-size: 10px;
        font-weight: 700;
    }
    











.item-5 {
    grid-area: myArea5;
    flex-direction: column;
    
    justify-content: center;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 240px;
}






@media screen and (max-width: 900px) {

    .content_section {
        width: 100%;
        background-color: white;

    }
    .topleft {
        grid-area: myArea1;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 100px;
        border: 0px solid #3a921c;
    }
    
    .topright {
        grid-area: myArea2;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border: 0px solid #3a921c;
    }
    
    .middleleft {
        grid-area: myArea3;
        flex-direction: column;
        
        justify-content: start;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 100px;
        border: 0px solid #3a921c;
    }

.middleright {
    grid-area: myArea4;
    flex-direction: column;
    
    justify-content: start;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.item-5 {
    grid-area: myArea5;
    flex-direction: column;
    
    justify-content: start;
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
}




}








@media screen and (max-width: 600px) {

    /* hides bottom footer row */
    .item-5 {
        display: none;
        border: 1px solid #3a921c;
    }

    /* .middleright {
        display: none;
        border: 1px solid #3a921c;
    } */

    .content_section {
        width: 100%;
        background-color: white;
        margin: auto;
    }

    .container2 {
        height: 100vh;
        width: 100%;
        /* margin: auto; */

        display: grid;
        grid-template-rows: 230px 110px 130px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'myArea1 myArea1'
            
            'myArea3 myArea3'
            'myArea2 myArea2'
            'myArea4 myArea4'
            'myArea5 myArea5';
    }

    .topleft {
        grid-area: myArea1;
        display: flex;
        flex-direction: column;
        border: 0px solid #73AD21;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 50px;
        justify-content: start;

    }


    .stravalogo {

        padding: 30px 50px 10px 0px;

    }

    .topright {
        grid-area: myArea2;
        display: flex;
        flex-direction: column;
        border: 0px solid #73AD21;
        margin: 0px 0px 0px 40px;
        padding: 0px 0px 0px 0px;
        justify-content: start;
    }

    .accuweatherlogo {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        width: 200px;

    }

    .weathericon {
        padding: 0px 0px 0px 0px;

    }


    .middleleft {
        grid-area: myArea3;
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 80px;
        border: 0px solid #3a921c;
    }


    .middleleftheadertext {

        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border: 0px solid #3a921c;

    }

    .middleright {
        grid-area: myArea4;
        flex-direction: column;
        
        justify-content: start;
        border: 0px solid #3a921c;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 40px;
    }




}